<app-navbar-one [currentSection]="currentSection"/>

<section class="py-36 lg:py-56 w-full table relative bg-[url('/assets/images/bg/bg.jpg')] bg-top bg-no-repeat" id="home">
    <div class="absolute inset-0 bg-gradient-to-t to-slate-950/50 via-slate-950/75 from-slate-950"></div>

    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center mt-10">
            <h2 class="font-medium leading-none text-6xl mb-1 mt-10 text-white">Lightning Fast Solutions</h2>
            <h3 class="font-medium leading-none text-4xl mb-5 mt-10 text-white">AI + Cloud = Automation</h3>

            <p class="text-slate-400 text-lg max-w-xl mx-auto">We help leadership teams put AI to work across the enterprise,<br>enabling your organization to:<br><br>Scale with AI. Not headcount.<br>Automate the busywork.<br>Unlock institutional knowledge.<br>Serve customers 24/7.<br>Turn AI into measurable value.<br>Build capability that lasts.<br>Accelerate Google Cloud delivery.</p>
            <p class="text-white font-medium text-4xl mt-6">Get there.</p>
        </div>
    </div>
</section>

<section class="relative md:py-24 py-16" id="about">
    <app-about [video]="false"/>
</section>

<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="features">
    <app-service-one [title]="true"/>
</section>

<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="contact">
    <app-get-in-touch/>
</section>

<app-footer/>
