<app-navbar-full/>
<section class="pt-24 md:pt-32 pb-8 w-full table relative bg-[url('/assets/images/bg/bg-5.jpg')] bg-bottom bg-no-repeat" id="home">
    <div class="absolute inset-0 bg-slate-950/80"></div>

    <div class="container">
        <div class="grid grid-cols-1 text-center">
            <h1 class="font-medium leading-normal text-3xl text-white">Smart Cloud Solutions, Serious Results.</h1>
        </div>
    </div>
</section>
<section class="relative md:py-24 py-16" id="about">
    <app-about [video]="true"/>
    <div class="lg:mt-24 mt-16">
        <app-service-one [title]="false"/>
    </div>

   <app-get-in-touch-two/>
</section>

<app-footer/>
